interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://www.w3.org/2003/05/soap-envelope"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/Zaloguj</wsa:Action><wsa:MessageID>urn:uuid:15c949e2-0fe2-48ee-9fc7-780298d7b22a</wsa:MessageID><wsa:To>https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:Zaloguj
      xmlns:ns0="http://CIS/BIR/PUBL/2014/07"><ns0:pKluczUzytkownika>abcde12345abcde12345</ns0:pKluczUzytkownika></ns0:Zaloguj></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8; action="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/Zaloguj"
      SOAPAction:
      - '"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/Zaloguj"'
      sid:
      - 67yvkmp78rekbp3pmfyg
    method: POST
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
  response:
    body:
      string: "\r\n--uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2232\r\nContent-ID:\
        \ <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:\
        \ application/xop+xml;charset=utf-8;type=\"application/soap+xml\"\r\n\r\n\
        <s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"\
        http://www.w3.org/2005/08/addressing\"><s:Header><a:Action s:mustUnderstand=\"\
        1\">http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/ZalogujResponse</a:Action><a:RelatesTo>urn:uuid:15c949e2-0fe2-48ee-9fc7-780298d7b22a</a:RelatesTo></s:Header><s:Body><ZalogujResponse\
        \ xmlns=\"http://CIS/BIR/PUBL/2014/07\"><ZalogujResult>b2k628e3k9b6sm65hx6n</ZalogujResult></ZalogujResponse></s:Body></s:Envelope>\r\
        \n--uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2232--\r\n"
    headers:
      Content-Type:
      - multipart/related; type="application/xop+xml";start="<http://tempuri.org/0>";boundary="uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2232";start-info="application/soap+xml"
      MIME-Version:
      - '1.0'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://www.w3.org/2003/05/soap-envelope"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajPodmioty</wsa:Action><wsa:MessageID>urn:uuid:20e7b56b-fcfd-4345-9ae5-c5da55e64b7c</wsa:MessageID><wsa:To>https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:DaneSzukajPodmioty
      xmlns:ns0="http://CIS/BIR/PUBL/2014/07"><ns0:pParametryWyszukiwania><ns1:Nip
      xmlns:ns1="http://CIS/BIR/PUBL/2014/07/DataContract">5170359458</ns1:Nip></ns0:pParametryWyszukiwania></ns0:DaneSzukajPodmioty></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8; action="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajPodmioty"
      SOAPAction:
      - '"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajPodmioty"'
      sid:
      - b2k628e3k9b6sm65hx6n
    method: POST
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
  response:
    body:
      string: "\r\n--uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2233\r\nContent-ID:\
        \ <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:\
        \ application/xop+xml;charset=utf-8;type=\"application/soap+xml\"\r\n\r\n\
        <s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"\
        http://www.w3.org/2005/08/addressing\"><s:Header><a:Action s:mustUnderstand=\"\
        1\">http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajPodmiotyResponse</a:Action><a:RelatesTo>urn:uuid:20e7b56b-fcfd-4345-9ae5-c5da55e64b7c</a:RelatesTo></s:Header><s:Body><DaneSzukajPodmiotyResponse\
        \ xmlns=\"http://CIS/BIR/PUBL/2014/07\"><DaneSzukajPodmiotyResult>&lt;root&gt;&#xD;\n\
        \  &lt;dane&gt;&#xD;\n    &lt;Regon&gt;180853177&lt;/Regon&gt;&#xD;\n    &lt;Nip&gt;5170359458&lt;/Nip&gt;&#xD;\n\
        \    &lt;StatusNip /&gt;&#xD;\n    &lt;Nazwa&gt;ASSECO SYSTEMS SP\xD3\u0141\
        KA AKCYJNA&lt;/Nazwa&gt;&#xD;\n    &lt;Wojewodztwo&gt;PODKARPACKIE&lt;/Wojewodztwo&gt;&#xD;\n\
        \    &lt;Powiat&gt;m. Rzesz\xF3w&lt;/Powiat&gt;&#xD;\n    &lt;Gmina&gt;M.\
        \ Rzesz\xF3w&lt;/Gmina&gt;&#xD;\n    &lt;Miejscowosc&gt;Rzesz\xF3w&lt;/Miejscowosc&gt;&#xD;\n\
        \    &lt;KodPocztowy&gt;35-322&lt;/KodPocztowy&gt;&#xD;\n    &lt;Ulica&gt;ul.\
        \ Test-Krucza&lt;/Ulica&gt;&#xD;\n    &lt;NrNieruchomosci&gt;14&lt;/NrNieruchomosci&gt;&#xD;\n\
        \    &lt;NrLokalu /&gt;&#xD;\n    &lt;Typ&gt;P&lt;/Typ&gt;&#xD;\n    &lt;SilosID&gt;6&lt;/SilosID&gt;&#xD;\n\
        \    &lt;DataZakonczeniaDzialalnosci /&gt;&#xD;\n  &lt;/dane&gt;&#xD;\n&lt;/root&gt;</DaneSzukajPodmiotyResult></DaneSzukajPodmiotyResponse></s:Body></s:Envelope>\r\
        \n--uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2233--\r\n"
    headers:
      Content-Type:
      - multipart/related; type="application/xop+xml";start="<http://tempuri.org/0>";boundary="uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2233";start-info="application/soap+xml"
      MIME-Version:
      - '1.0'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://www.w3.org/2003/05/soap-envelope"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaport</wsa:Action><wsa:MessageID>urn:uuid:6cc0f875-9c32-4d16-a886-2c188e49673d</wsa:MessageID><wsa:To>https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:DanePobierzPelnyRaport
      xmlns:ns0="http://CIS/BIR/PUBL/2014/07"><ns0:pRegon>180853177</ns0:pRegon><ns0:pNazwaRaportu>PublDaneRaportDzialalnosciPrawnej</ns0:pNazwaRaportu></ns0:DanePobierzPelnyRaport></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8; action="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaport"
      SOAPAction:
      - '"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaport"'
      sid:
      - b2k628e3k9b6sm65hx6n
    method: POST
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
  response:
    body:
      string: "\r\n--uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2234\r\nContent-ID:\
        \ <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:\
        \ application/xop+xml;charset=utf-8;type=\"application/soap+xml\"\r\n\r\n\
        <s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"\
        http://www.w3.org/2005/08/addressing\"><s:Header><a:Action s:mustUnderstand=\"\
        1\">http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaportResponse</a:Action><a:RelatesTo>urn:uuid:6cc0f875-9c32-4d16-a886-2c188e49673d</a:RelatesTo></s:Header><s:Body><DanePobierzPelnyRaportResponse\
        \ xmlns=\"http://CIS/BIR/PUBL/2014/07\"><DanePobierzPelnyRaportResult>&lt;root&gt;&#xD;\n\
        \  &lt;dane&gt;&#xD;\n    &lt;praw_pkdKod&gt;7010Z&lt;/praw_pkdKod&gt;&#xD;\n\
        \    &lt;praw_pkdNazwa&gt;DZIA\u0141ALNO\u015A\u0106 FIRM CENTRALNYCH (HEAD\
        \ OFFICES) I HOLDING\xD3W, Z WY\u0141\u0104CZENIEM HOLDING\xD3W FINANSOWYCH&lt;/praw_pkdNazwa&gt;&#xD;\n\
        \    &lt;praw_pkdPrzewazajace&gt;1&lt;/praw_pkdPrzewazajace&gt;&#xD;\n  &lt;/dane&gt;&#xD;\n\
        \  &lt;dane&gt;&#xD;\n    &lt;praw_pkdKod&gt;6420Z&lt;/praw_pkdKod&gt;&#xD;\n\
        \    &lt;praw_pkdNazwa&gt;DZIA\u0141ALNO\u015A\u0106 HOLDING\xD3W FINANSOWYCH&lt;/praw_pkdNazwa&gt;&#xD;\n\
        \    &lt;praw_pkdPrzewazajace&gt;0&lt;/praw_pkdPrzewazajace&gt;&#xD;\n  &lt;/dane&gt;&#xD;\n\
        \  &lt;dane&gt;&#xD;\n    &lt;praw_pkdKod&gt;6201Z&lt;/praw_pkdKod&gt;&#xD;\n\
        \    &lt;praw_pkdNazwa&gt;DZIA\u0141ALNO\u015A\u0106 ZWI\u0104ZANA Z OPROGRAMOWANIEM&lt;/praw_pkdNazwa&gt;&#xD;\n\
        \    &lt;praw_pkdPrzewazajace&gt;0&lt;/praw_pkdPrzewazajace&gt;&#xD;\n  &lt;/dane&gt;&#xD;\n\
        &lt;/root&gt;</DanePobierzPelnyRaportResult></DanePobierzPelnyRaportResponse></s:Body></s:Envelope>\r\
        \n--uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2234--\r\n"
    headers:
      Content-Type:
      - multipart/related; type="application/xop+xml";start="<http://tempuri.org/0>";boundary="uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2234";start-info="application/soap+xml"
      MIME-Version:
      - '1.0'
    status:
      code: 200
      message: OK
[...]
