interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/wsdl/UslugaBIRzewnPubl-ver11-test.wsdl
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"no\"?>\n<wsdl:definitions\
        \ xmlns:i0=\"http://CIS/BIR/PUBL/2014/07\" xmlns:msc=\"http://schemas.microsoft.com/ws/2005/12/wsdl/contract\"\
        \ xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"\
        \ xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:tns=\"\
        http://tempuri.org/\" xmlns:wsa=\"http://schemas.xmlsoap.org/ws/2004/08/addressing\"\
        \ xmlns:wsa10=\"http://www.w3.org/2005/08/addressing\" xmlns:wsam=\"http://www.w3.org/2007/05/addressing/metadata\"\
        \ xmlns:wsap=\"http://schemas.xmlsoap.org/ws/2004/08/addressing/policy\" xmlns:wsaw=\"\
        http://www.w3.org/2006/05/addressing/wsdl\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\
        \ xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\" xmlns:wsu=\"\
        http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"\
        \ xmlns:wsx=\"http://schemas.xmlsoap.org/ws/2004/09/mex\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        \ name=\"UslugaBIRzewnPubl\" targetNamespace=\"http://tempuri.org/\">\n  <wsp:Policy\
        \ wsu:Id=\"e3_policy\">\n    <wsp:ExactlyOne>\n      <wsp:All>\n        <sp:TransportBinding\
        \ xmlns:sp=\"http://schemas.xmlsoap.org/ws/2005/07/securitypolicy\">\n   \
        \       <wsp:Policy>\n            <sp:TransportToken>\n              <wsp:Policy>\n\
        \                <sp:HttpsToken RequireClientCertificate=\"false\"/>\n   \
        \           </wsp:Policy>\n            </sp:TransportToken>\n            <sp:AlgorithmSuite>\n\
        \              <wsp:Policy>\n                <sp:Basic256/>\n            \
        \  </wsp:Policy>\n            </sp:AlgorithmSuite>\n            <sp:Layout>\n\
        \              <wsp:Policy>\n                <sp:Strict/>\n              </wsp:Policy>\n\
        \            </sp:Layout>\n          </wsp:Policy>\n        </sp:TransportBinding>\n\
        \        <wsaw:UsingAddressing/>\n      </wsp:All>\n    </wsp:ExactlyOne>\n\
        \  </wsp:Policy>\n  <wsdl:types>\n    <xs:schema xmlns:tns=\"http://CIS/BIR/2014/07\"\
        \ xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" elementFormDefault=\"qualified\"\
        \ targetNamespace=\"http://CIS/BIR/2014/07\">\n      <xs:element name=\"GetValue\"\
        >\n        <xs:complexType>\n          <xs:sequence>\n            <xs:element\
        \ minOccurs=\"0\" name=\"pNazwaParametru\" nillable=\"true\" type=\"xs:string\"\
        />\n          </xs:sequence>\n        </xs:complexType>\n      </xs:element>\n\
        \      <xs:element name=\"GetValueResponse\">\n        <xs:complexType>\n\
        \          <xs:sequence>\n            <xs:element minOccurs=\"0\" name=\"\
        GetValueResult\" type=\"xs:string\"/>\n          </xs:sequence>\n        </xs:complexType>\n\
        \      </xs:element>[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://www.w3.org/2003/05/soap-envelope"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/Zaloguj</wsa:Action><wsa:MessageID>urn:uuid:f421af9b-997d-4759-ba34-6e98dad2476a</wsa:MessageID><wsa:To>https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:Zaloguj
      xmlns:ns0="http://CIS/BIR/PUBL/2014/07"><ns0:pKluczUzytkownika>abcde12345abcde12345</ns0:pKluczUzytkownika></ns0:Zaloguj></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8; action="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/Zaloguj"
      SOAPAction:
      - '"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/Zaloguj"'
    method: POST
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
  response:
    body:
      string: "\r\n--uuid:bace5e4f-38b0-44a3-bc7a-428165a0d558+id=1602\r\nContent-ID:\
        \ <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:\
        \ application/xop+xml;charset=utf-8;type=\"application/soap+xml\"\r\n\r\n\
        <s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"\
        http://www.w3.org/2005/08/addressing\"><s:Header><a:Action s:mustUnderstand=\"\
        1\">http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/ZalogujResponse</a:Action><a:RelatesTo>urn:uuid:f421af9b-997d-4759-ba34-6e98dad2476a</a:RelatesTo></s:Header><s:Body><ZalogujResponse\
        \ xmlns=\"http://CIS/BIR/PUBL/2014/07\"><ZalogujResult>hpw49e46p2585r4e9353</ZalogujResult></ZalogujResponse></s:Body></s:Envelope>\r\
        \n--uuid:bace5e4f-38b0-44a3-bc7a-428165a0d558+id=1602--\r\n"
    headers:
      Content-Type:
      - multipart/related; type="application/xop+xml";start="<http://tempuri.org/0>";boundary="uuid:bace5e4f-38b0-44a3-bc7a-428165a0d558+id=1602";start-info="application/soap+xml"
      MIME-Version:
      - '1.0'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://www.w3.org/2003/05/soap-envelope"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajPodmioty</wsa:Action><wsa:MessageID>urn:uuid:8ae6cf2d-149c-4473-8116-1d050f71e481</wsa:MessageID><wsa:To>https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:DaneSzukajPodmioty
      xmlns:ns0="http://CIS/BIR/PUBL/2014/07"><ns0:pParametryWyszukiwania><ns1:Nip
      xmlns:ns1="http://CIS/BIR/PUBL/2014/07/DataContract">1112223344</ns1:Nip></ns0:pParametryWyszukiwania></ns0:DaneSzukajPodmioty></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8; action="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajPodmioty"
      SOAPAction:
      - '"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajPodmioty"'
      sid:
      - hpw49e46p2585r4e9353
    method: POST
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
  response:
    body:
      string: "\r\n--uuid:bace5e4f-38b0-44a3-bc7a-428165a0d558+id=1603\r\nContent-ID:\
        \ <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:\
        \ application/xop+xml;charset=utf-8;type=\"application/soap+xml\"\r\n\r\n\
        <s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"\
        http://www.w3.org/2005/08/addressing\"><s:Header><a:Action s:mustUnderstand=\"\
        1\">http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajPodmiotyResponse</a:Action><a:RelatesTo>urn:uuid:8ae6cf2d-149c-4473-8116-1d050f71e481</a:RelatesTo></s:Header><s:Body><DaneSzukajPodmiotyResponse\
        \ xmlns=\"http://CIS/BIR/PUBL/2014/07\"><DaneSzukajPodmiotyResult>&lt;root&gt;&#xD;\n\
        \  &lt;dane&gt;&#xD;\n    &lt;ErrorCode&gt;4&lt;/ErrorCode&gt;&#xD;\n    &lt;ErrorMessagePl&gt;Nie\
        \ znaleziono podmiotu dla podanych kryteri\xF3w wyszukiwania.&lt;/ErrorMessagePl&gt;&#xD;\n\
        \    &lt;ErrorMessageEn&gt;No data found for the specified search criteria.&lt;/ErrorMessageEn&gt;&#xD;\n\
        \    &lt;Nip&gt;1112223344&lt;/Nip&gt;&#xD;\n  &lt;/dane&gt;&#xD;\n&lt;/root&gt;</DaneSzukajPodmiotyResult></DaneSzukajPodmiotyResponse></s:Body></s:Envelope>\r\
        \n--uuid:bace5e4f-38b0-44a3-bc7a-428165a0d558+id=1603--\r\n"
    headers:
      Content-Type:
      - multipart/related; type="application/xop+xml";start="<http://tempuri.org/0>";boundary="uuid:bace5e4f-38b0-44a3-bc7a-428165a0d558+id=1603";start-info="application/soap+xml"
      MIME-Version:
      - '1.0'
    status:
      code: 200
      message: OK
version: 1
