interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://www.w3.org/2003/05/soap-envelope"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/Zaloguj</wsa:Action><wsa:MessageID>urn:uuid:5a16edfd-d263-48a1-8597-1af1e4618053</wsa:MessageID><wsa:To>https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:Zaloguj
      xmlns:ns0="http://CIS/BIR/PUBL/2014/07"><ns0:pKluczUzytkownika>abcde12345abcde12345</ns0:pKluczUzytkownika></ns0:Zaloguj></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8; action="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/Zaloguj"
      SOAPAction:
      - '"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/Zaloguj"'
      sid:
      - b2k628e3k9b6sm65hx6n
    method: POST
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
  response:
    body:
      string: "\r\n--uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2240\r\nContent-ID:\
        \ <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:\
        \ application/xop+xml;charset=utf-8;type=\"application/soap+xml\"\r\n\r\n\
        <s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"\
        http://www.w3.org/2005/08/addressing\"><s:Header><a:Action s:mustUnderstand=\"\
        1\">http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/ZalogujResponse</a:Action><a:RelatesTo>urn:uuid:5a16edfd-d263-48a1-8597-1af1e4618053</a:RelatesTo></s:Header><s:Body><ZalogujResponse\
        \ xmlns=\"http://CIS/BIR/PUBL/2014/07\"><ZalogujResult>4726f23bz24889zg5z26</ZalogujResult></ZalogujResponse></s:Body></s:Envelope>\r\
        \n--uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2240--\r\n"
    headers:
      Content-Type:
      - multipart/related; type="application/xop+xml";start="<http://tempuri.org/0>";boundary="uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2240";start-info="application/soap+xml"
      MIME-Version:
      - '1.0'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://www.w3.org/2003/05/soap-envelope"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajPodmioty</wsa:Action><wsa:MessageID>urn:uuid:957526a4-2ae6-4de4-871f-ffbf094586fa</wsa:MessageID><wsa:To>https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:DaneSzukajPodmioty
      xmlns:ns0="http://CIS/BIR/PUBL/2014/07"><ns0:pParametryWyszukiwania><ns1:Regon
      xmlns:ns1="http://CIS/BIR/PUBL/2014/07/DataContract">27659249800038</ns1:Regon></ns0:pParametryWyszukiwania></ns0:DaneSzukajPodmioty></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8; action="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajPodmioty"
      SOAPAction:
      - '"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajPodmioty"'
      sid:
      - 4726f23bz24889zg5z26
    method: POST
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
  response:
    body:
      string: "\r\n--uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2241\r\nContent-ID:\
        \ <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:\
        \ application/xop+xml;charset=utf-8;type=\"application/soap+xml\"\r\n\r\n\
        <s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"\
        http://www.w3.org/2005/08/addressing\"><s:Header><a:Action s:mustUnderstand=\"\
        1\">http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajPodmiotyResponse</a:Action><a:RelatesTo>urn:uuid:957526a4-2ae6-4de4-871f-ffbf094586fa</a:RelatesTo></s:Header><s:Body><DaneSzukajPodmiotyResponse\
        \ xmlns=\"http://CIS/BIR/PUBL/2014/07\"><DaneSzukajPodmiotyResult>&lt;root&gt;&#xD;\n\
        \  &lt;dane&gt;&#xD;\n    &lt;Regon&gt;27659249800038&lt;/Regon&gt;&#xD;\n\
        \    &lt;Nip /&gt;&#xD;\n    &lt;StatusNip /&gt;&#xD;\n    &lt;Nazwa&gt;APTEKA\
        \ \"EUROPEJSKA\"&lt;/Nazwa&gt;&#xD;\n    &lt;Wojewodztwo&gt;\u015AL\u0104\
        SKIE&lt;/Wojewodztwo&gt;&#xD;\n    &lt;Powiat&gt;m. Katowice&lt;/Powiat&gt;&#xD;\n\
        \    &lt;Gmina&gt;M. Katowice&lt;/Gmina&gt;&#xD;\n    &lt;Miejscowosc&gt;Katowice&lt;/Miejscowosc&gt;&#xD;\n\
        \    &lt;KodPocztowy&gt;40-026&lt;/KodPocztowy&gt;&#xD;\n    &lt;Ulica&gt;ul.\
        \ Test-Wilcza&lt;/Ulica&gt;&#xD;\n    &lt;NrNieruchomosci&gt;7&lt;/NrNieruchomosci&gt;&#xD;\n\
        \    &lt;NrLokalu /&gt;&#xD;\n    &lt;Typ&gt;LP&lt;/Typ&gt;&#xD;\n    &lt;SilosID&gt;6&lt;/SilosID&gt;&#xD;\n\
        \    &lt;DataZakonczeniaDzialalnosci /&gt;&#xD;\n  &lt;/dane&gt;&#xD;\n&lt;/root&gt;</DaneSzukajPodmiotyResult></DaneSzukajPodmiotyResponse></s:Body></s:Envelope>\r\
        \n--uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2241--\r\n"
    headers:
      Content-Type:
      - multipart/related; type="application/xop+xml";start="<http://tempuri.org/0>";boundary="uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2241";start-info="application/soap+xml"
      MIME-Version:
      - '1.0'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://www.w3.org/2003/05/soap-envelope"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaport</wsa:Action><wsa:MessageID>urn:uuid:a51365e5-8053-4a91-ae5f-fe24c1ce92be</wsa:MessageID><wsa:To>https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:DanePobierzPelnyRaport
      xmlns:ns0="http://CIS/BIR/PUBL/2014/07"><ns0:pRegon>27659249800038</ns0:pRegon><ns0:pNazwaRaportu>PublDaneRaportDzialalnosciFizycznej</ns0:pNazwaRaportu></ns0:DanePobierzPelnyRaport></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8; action="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaport"
      SOAPAction:
      - '"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaport"'
      sid:
      - 4726f23bz24889zg5z26
    method: POST
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
  response:
    body:
      string: "\r\n--uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2242\r\nContent-ID:\
        \ <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:\
        \ application/xop+xml;charset=utf-8;type=\"application/soap+xml\"\r\n\r\n\
        <s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"\
        http://www.w3.org/2005/08/addressing\"><s:Header><a:Action s:mustUnderstand=\"\
        1\">http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaportResponse</a:Action><a:RelatesTo>urn:uuid:a51365e5-8053-4a91-ae5f-fe24c1ce92be</a:RelatesTo></s:Header><s:Body><DanePobierzPelnyRaportResponse\
        \ xmlns=\"http://CIS/BIR/PUBL/2014/07\"><DanePobierzPelnyRaportResult>&lt;root&gt;&#xD;\n\
        \  &lt;dane&gt;&#xD;\n    &lt;fiz_pkd_Kod&gt;4773Z&lt;/fiz_pkd_Kod&gt;&#xD;\n\
        \    &lt;fiz_pkd_Nazwa&gt;SPRZEDA\u017B DETALICZNA WYROB\xD3W FARMACEUTYCZNYCH\
        \ PROWADZONA W WYSPECJALIZOWANYCH SKLEPACH&lt;/fiz_pkd_Nazwa&gt;&#xD;\n  \
        \  &lt;fiz_pkd_Przewazajace&gt;1&lt;/fiz_pkd_Przewazajace&gt;&#xD;\n    &lt;fiz_Silos_Symbol&gt;Prawna&lt;/fiz_Silos_Symbol&gt;&#xD;\n\
        \  &lt;/dane&gt;&#xD;\n  &lt;dane&gt;&#xD;\n    &lt;fiz_pkd_Kod&gt;2120Z&lt;/fiz_pkd_Kod&gt;&#xD;\n\
        \    &lt;fiz_pkd_Nazwa&gt;PRODUKCJA LEK\xD3W I POZOSTA\u0141YCH WYROB\xD3\
        W FARMACEUTYCZNYCH&lt;/fiz_pkd_Nazwa&gt;&#xD;\n    &lt;fiz_pkd_Przewazajace&gt;0&lt;/fiz_pkd_Przewazajace&gt;&#xD;\n\
        \    &lt;fiz_Silos_Symbol&gt;Prawna&lt;/fiz_Silos_Symbol&gt;&#xD;\n  &lt;/dane&gt;&#xD;\n\
        &lt;/root&gt;</DanePobierzPelnyRaportResult></DanePobierzPelnyRaportResponse></s:Body></s:Envelope>\r\
        \n--uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2242--\r\n"
    headers:
      Content-Type:
      - multipart/related; type="application/xop+xml";start="<http://tempuri.org/0>";boundary="uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2242";start-info="application/soap+xml"
      MIME-Version:
      - '1.0'
    status:
      code: 200
      message: OK
[...]
