interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://www.w3.org/2003/05/soap-envelope"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/Zaloguj</wsa:Action><wsa:MessageID>urn:uuid:3ec2ed2b-2ee4-4cf5-9d30-2cace3bd6a1c</wsa:MessageID><wsa:To>https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:Zaloguj
      xmlns:ns0="http://CIS/BIR/PUBL/2014/07"><ns0:pKluczUzytkownika>abcde12345abcde12345</ns0:pKluczUzytkownika></ns0:Zaloguj></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8; action="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/Zaloguj"
      SOAPAction:
      - '"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/Zaloguj"'
      sid:
      - 67yvkmp78rekbp3pmfyg
    method: POST
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
  response:
    body:
      string: "\r\n--uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2259\r\nContent-ID:\
        \ <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:\
        \ application/xop+xml;charset=utf-8;type=\"application/soap+xml\"\r\n\r\n\
        <s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"\
        http://www.w3.org/2005/08/addressing\"><s:Header><a:Action s:mustUnderstand=\"\
        1\">http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/ZalogujResponse</a:Action><a:RelatesTo>urn:uuid:3ec2ed2b-2ee4-4cf5-9d30-2cace3bd6a1c</a:RelatesTo></s:Header><s:Body><ZalogujResponse\
        \ xmlns=\"http://CIS/BIR/PUBL/2014/07\"><ZalogujResult>t2g22t6dm3386cve55x6</ZalogujResult></ZalogujResponse></s:Body></s:Envelope>\r\
        \n--uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2259--\r\n"
    headers:
      Content-Type:
      - multipart/related; type="application/xop+xml";start="<http://tempuri.org/0>";boundary="uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2259";start-info="application/soap+xml"
      MIME-Version:
      - '1.0'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://www.w3.org/2003/05/soap-envelope"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajPodmioty</wsa:Action><wsa:MessageID>urn:uuid:f97e0600-1c04-4f96-a93b-960574ebfce0</wsa:MessageID><wsa:To>https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:DaneSzukajPodmioty
      xmlns:ns0="http://CIS/BIR/PUBL/2014/07"><ns0:pParametryWyszukiwania><ns1:Nip
      xmlns:ns1="http://CIS/BIR/PUBL/2014/07/DataContract">8841496742</ns1:Nip></ns0:pParametryWyszukiwania></ns0:DaneSzukajPodmioty></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8; action="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajPodmioty"
      SOAPAction:
      - '"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajPodmioty"'
      sid:
      - t2g22t6dm3386cve55x6
    method: POST
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
  response:
    body:
      string: "\r\n--uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2260\r\nContent-ID:\
        \ <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:\
        \ application/xop+xml;charset=utf-8;type=\"application/soap+xml\"\r\n\r\n\
        <s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"\
        http://www.w3.org/2005/08/addressing\"><s:Header><a:Action s:mustUnderstand=\"\
        1\">http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DaneSzukajPodmiotyResponse</a:Action><a:RelatesTo>urn:uuid:f97e0600-1c04-4f96-a93b-960574ebfce0</a:RelatesTo></s:Header><s:Body><DaneSzukajPodmiotyResponse\
        \ xmlns=\"http://CIS/BIR/PUBL/2014/07\"><DaneSzukajPodmiotyResult>&lt;root&gt;&#xD;\n\
        \  &lt;dane&gt;&#xD;\n    &lt;Regon&gt;891461403&lt;/Regon&gt;&#xD;\n    &lt;Nip&gt;8841496742&lt;/Nip&gt;&#xD;\n\
        \    &lt;StatusNip /&gt;&#xD;\n    &lt;Nazwa&gt;INDYWIDUALNE GOSPODARSTWO\
        \ ROLNE  DANUTA XXXXXXXX&lt;/Nazwa&gt;&#xD;\n    &lt;Wojewodztwo&gt;DOLNO\u015A\
        L\u0104SKIE&lt;/Wojewodztwo&gt;&#xD;\n    &lt;Powiat&gt;\u015Bwidnicki&lt;/Powiat&gt;&#xD;\n\
        \    &lt;Gmina&gt;\u015Awidnica&lt;/Gmina&gt;&#xD;\n    &lt;Miejscowosc&gt[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://www.w3.org/2003/05/soap-envelope"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaport</wsa:Action><wsa:MessageID>urn:uuid:045f9929-5042-4720-87db-0a1d6fc06edc</wsa:MessageID><wsa:To>https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:DanePobierzPelnyRaport
      xmlns:ns0="http://CIS/BIR/PUBL/2014/07"><ns0:pRegon>891461403</ns0:pRegon><ns0:pNazwaRaportu>PublDaneRaportDzialalnosciFizycznej</ns0:pNazwaRaportu></ns0:DanePobierzPelnyRaport></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8; action="http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaport"
      SOAPAction:
      - '"http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaport"'
      sid:
      - t2g22t6dm3386cve55x6
    method: POST
    uri: https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
  response:
    body:
      string: "\r\n--uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2261\r\nContent-ID:\
        \ <http://tempuri.org/0>\r\nContent-Transfer-Encoding: 8bit\r\nContent-Type:\
        \ application/xop+xml;charset=utf-8;type=\"application/soap+xml\"\r\n\r\n\
        <s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:a=\"\
        http://www.w3.org/2005/08/addressing\"><s:Header><a:Action s:mustUnderstand=\"\
        1\">http://CIS/BIR/PUBL/2014/07/IUslugaBIRzewnPubl/DanePobierzPelnyRaportResponse</a:Action><a:RelatesTo>urn:uuid:045f9929-5042-4720-87db-0a1d6fc06edc</a:RelatesTo></s:Header><s:Body><DanePobierzPelnyRaportResponse\
        \ xmlns=\"http://CIS/BIR/PUBL/2014/07\"><DanePobierzPelnyRaportResult>&lt;root&gt;&#xD;\n\
        \  &lt;dane&gt;&#xD;\n    &lt;fiz_pkd_Kod&gt;5520Z&lt;/fiz_pkd_Kod&gt;&#xD;\n\
        \    &lt;fiz_pkd_Nazwa&gt;OBIEKTY NOCLEGOWE TURYSTYCZNE I MIEJSCA KR\xD3TKOTRWA\u0141\
        EGO ZAKWATEROWANIA&lt;/fiz_pkd_Nazwa&gt;&#xD;\n    &lt;fiz_pkd_Przewazajace&gt;1&lt;/fiz_pkd_Przewazajace&gt;&#xD;\n\
        \    &lt;fiz_Silos_Symbol&gt;Inna&lt;/fiz_Silos_Symbol&gt;&#xD;\n  &lt;/dane&gt;&#xD;\n\
        \  &lt;dane&gt;&#xD;\n    &lt;fiz_pkd_Kod&gt;0150Z&lt;/fiz_pkd_Kod&gt;&#xD;\n\
        \    &lt;fiz_pkd_Nazwa&gt;UPRAWY ROLNE PO\u0141\u0104CZONE Z CHOWEM I HODOWL\u0104\
        \ ZWIERZ\u0104T (DZIA\u0141ALNO\u015A\u0106 MIESZANA)&lt;/fiz_pkd_Nazwa&gt;&#xD;\n\
        \    &lt;fiz_pkd_Przewazajace&gt;1&lt;/fiz_pkd_Przewazajace&gt;&#xD;\n   \
        \ &lt;fiz_Silos_Symbol&gt;Rolnicza&lt;/fiz_Silos_Symbol&gt;&#xD;\n  &lt;/dane&gt;&#xD;\n\
        &lt;/root&gt;</DanePobierzPelnyRaportResult></DanePobierzPelnyRaportResponse></s:Body></s:Envelope>\r\
        \n--uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2261--\r\n"
    headers:
      Content-Type:
      - multipart/related; type="application/xop+xml";start="<http://tempuri.org/0>";boundary="uuid:2e802d3c-4264-423f-ad51-a3cb0e4f541f+id=2261";start-info="application/soap+xml"
      MIME-Version:
      - '1.0'
    status:
      code: 200
      message: OK
[...]
